{{ define "main" }}
{{ .Scratch.Set "scope" "single" }}

<style>
  .article-content img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    object-fit: contain;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 768px) {
    .article-content img {
      width: 100%;
      margin-left: 0;
      transform: none;
    }
  }
</style>

<article>
  {{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
    {{ $heroStyle := .Params.heroStyle | default .Site.Params.article.heroStyle }}
    {{ $heroPartial := printf "hero/%s.html" $heroStyle }}
    {{ if templates.Exists (printf "partials/%s" $heroPartial) }}
      {{ partial $heroPartial . }}
    {{ else }}
      {{ partial "hero/basic.html" . }}
    {{ end }}
  {{ end }}

  <header id="single_header" class="mt-5">
    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}

    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title | emojify }}
    </h1>

    <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
    </div>

    {{ $authorsData := .Site.Data.authors }}

    {{ $baseURL := .Site.BaseURL }}
    {{ if not (strings.HasSuffix $baseURL "/") }}
      {{ $baseURL = delimit (slice $baseURL "/") "" }}
    {{ end }}

    {{ $showAuthor := false }}

    {{ if not (.Params.showAuthorBottom | default (.Site.Params.article.showAuthorBottom | default false)) }}
      {{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
        {{ $showAuthor = true }}
        {{ partial "author.html" . }}
      {{ end }}

      {{ with .Params.authors }}
        {{ range . }}
          {{ $author := . }}
          {{ with index $authorsData $author }}
            {{ $finalLink := printf "%s/%s/authors/%s/" $baseURL (default $.Site.LanguagePrefix "") $author }}
            {{ partial "author-extra.html" (dict "context" $ "data" . "link" $finalLink) }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if $showAuthor }}
        <div class="mb-5"></div>
      {{ end }}
    {{ end }}
  </header>

  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    {{ $showTOC := .Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false) }}
    {{ $hasTOC := and $showTOC (in .TableOfContents "<ul") }}
    {{ $showRelated := .Site.Params.article.showRelatedPosts | default false }}

    {{ if or $hasTOC $showRelated }}
      <div class="order-first lg:ml-auto px-0 lg:order-last ltr:lg:pl-8 rtl:lg:pr-8">
        <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky {{ if hasPrefix .Site.Params.header.layout "fixed" }}lg:top-[140px]{{ else }}lg:top-10{{ end }}">
          {{ if $hasTOC }}
            {{ partial "toc.html" . }}
          {{ end }}
          <!-- If you want related posts here, uncomment the below -->
          {{/* if $showRelated }} {{ partial "related.html" . }} {{ end */}}
        </div>
      </div>
    {{ end }}

    <div class="min-w-0 min-h-0 max-w-fit">
      {{ partial "series/series.html" . }}

      <div class="article-content mb-20">
        {{ .Content }}

        {{ $replyByEmail := .Params.replyByEmail | default .Site.Params.replyByEmail }}
        {{ if $replyByEmail }}
          <strong class="block mt-8">
            <a target="_blank"
              class="m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
              href="mailto:{{ .Site.Params.Author.email }}?subject={{ replace (printf "Reply to %s" .Title) "\"" "'" }}">
              Reply by Email
            </a>
          </strong>
        {{ end }}
      </div>

      {{ partial "about-author.html" .Site.Params.author }}
      {{ partial "giscus-comments.html" .Site.Params.giscus }}
      {{ partial "series/series-closed.html" . }}
      {{ partial "sharing-links.html" . }}
    </div>

    {{ with .File }}
      {{ $path := .Path }}
      {{ range $.AllTranslations }}
        {{ $lang := print "." .Lang ".md" }}
        {{ $path = replace $path $lang ".md" }}
      {{ end }}

      <script>
        var oid = "views_{{ $path }}";
        var oid_likes = "likes_{{ $path }}";
      </script>
      {{ $jsPage := resources.Get "js/page.js" | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"></script>
    {{ end }}
  </section>

  <footer class="pt-8 print:hidden">
    {{ partial "article-pagination.html" . }}
    {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
      {{ if templates.Exists "partials/comments.html" }}
        <div class="pt-3">
          <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
          <div class="pt-3">
            {{ partial "comments.html" . }}
          </div>
        </div>
      {{ else }}
        {{ warnf "[BLOWFISH] Comments are enabled for %s but no comments partial exists." .File.Path }}
      {{ end }}
    {{ end }}
  </footer>

  <div>
    {{ partial "related.html" . }}
  </div>
</article>
{{ end }}
