<style>
 

</style>
{{- with . -}}
  <div class="td-author-box">
    {{- with .avatar -}}
      <div class="td-author-box__avatar">
        <img src="{{ . | relURL }}" alt="{{ $.name }}'s avatar" class="author-image" width="25%" >
      </div>
    {{- end -}}

    {{- with site.Params.links.user }}
    <div class="td-author-box__links author-image"><b>Follow Me</b>
      {{- range . }}
        <a href="{{ .url }}" target="_blank" rel="noopener" aria-label="{{ .name }}" title="{{ .desc }}">
          {{- if .icon }}
            <i class="{{ .icon }}" aria-hidden="true"></i>
          {{- else }}
            {{ .name }}
          {{- end }}
        </a>
      {{- end }}
    </div>
    {{- end }}
  

    <div class="td-author-box__info">
    <h4 class="td-author-box__name">{{ .name }}</h4>
    {{- with .bio -}}
      <p class="td-author-box__bio">{{ . }}</p>
    {{- end -}}

      

    </div>
  </div>
{{- end -}}
